# App configuration
URL=http://localhost:3000
FIREBASE_ANALYTICS_ENABLED=0

# Firebase configuration - https://firebase.google.com/docs/web/setup
FIREBASE_CONFIG={
   "apiKey":"AIzaSyCKXgD-26GHWuauWded-Mfen2P1YaGmzAM",
   "authDomain":"wedance-test.firebaseapp.com",
   "projectId":"wedance-test",
   "storageBucket":"wedance-test.appspot.com",
   "messagingSenderId":"118099198562",
   "appId":"1:118099198562:web:1a8ce65e8d5371deb3c73b"
}

# Sentry configuration - https://docs.sentry.io/platforms/node/configuration/options/#dsn
SENTRY_DSN=